ion-content,
ion-grid {
    padding: 0px !important;
    margin: 0px !important;
}

.ion-padding {
    --padding-start: var(--ion-padding, 16px);
    --padding-end: var(--ion-padding, 16px);
    --padding-top: var(--ion-padding, 16px);
    --padding-bottom: var(--ion-padding, 16px);
    padding-left: var(--ion-padding, 16px);
    padding-right: var(--ion-padding, 16px);
    padding-top: var(--ion-padding, 0px);
    padding-bottom: var(--ion-padding, 16px);
}

.imagen {

    max-width: 600px !important;
    width: auto !important;
    align-items: center;
    display:block;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
  }

  .maxForm{
  
    max-width: 600px !important;
    width: auto !important;
    height: auto!important;
    align-items: center;
    align-self: center;
    display:block;

  }

  .captcha{

    margin-top: 20px;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
  }

  body{

    background-color: #161631!important;
  }

  --placeholder-color{
    color:#53ABE0!important;
}

.native-input.sc-ion-input-md{
  color:#53ABE0!important;
}



.icono{
  color:#53ABE0!important;

}
input{
  color:#53ABE0!important;
}